body{
	padding-top: 50px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab a {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border: 0px solid #333; /* Рамка */
    display: inline-block;
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
}

/* Change background color of buttons on hover */
.tab a:hover {
    /*background-color: #ddd;*/
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #ddd, #e9e9ce); /* Градиент */
    color: #000;
}

/* Create an active/current tablink class */
.tab a.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#temp label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    margin-top: 20px;
}
.fixed_headers {
  border-collapse: collapse;
}
.fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
    min-width: 80px;
}
.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
  min-width: 70px;
}
.fixed_headers td:nth-child(3),
.fixed_headers th:nth-child(3) {
  min-width: 70px;
}
.fixed_headers td:nth-child(4),
.fixed_headers th:nth-child(4) {
  min-width: 70px;
}
.fixed_headers td:nth-child(5),
.fixed_headers th:nth-child(5) {
  min-width: 50px;
}
.fixed_headers td:nth-child(6),
.fixed_headers th:nth-child(6) {
  min-width: 110px;
}
.fixed_headers thead {
  background-color: #333;
  color: #FDFDFD;
}
.fixed_headers thead tr {
  display: block;
  position: relative;
}
.fixed_headers tbody {
  display: block;
  overflow: auto;
  height: 400px;
}
.old_ie_wrapper {
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}
.old_ie_wrapper tbody {
  height: auto;
}

[tooltip]:before {
  content: attr(tooltip);
  position: absolute;
  opacity: 0;
  padding: 5px;
  font: bold;
  white-space:break-word;
  overflow:hidden;
  margin-left: -120px;
  width: 450px;
  text-overflow: ellipsis;
}

[tooltip]:hover:before {
  z-index: 1;
  opacity: 1;
  color: black;
  background: #ccc;
  margin-top: -50px;
  margin-left: -120px;    
}

[tooltip]:not([tooltip-persistent]):before {
  pointer-events: none;
}