{% load staticfiles %}
{% load bootstrap3 %}
<form id="start_reports" class="form" method="POST">{% csrf_token %}
  <div class="row">
      <div class="col-xs-3"> 
        <h4>Date:</h4>
        <input id="daterange" type="text" name="daterange" style='width:108%' readonly/>
      </div>
      <div class="col-xs-3">
        <h4>Materiality: <br></h4>
        <input id="materiality" type="number" onkeypress='validate(event)'>
      </div>
      <div class="col-xs-2" style="display: none">
        <h4 style="width: 150%">Set account template<br></h4>
        <input type="hidden" id="account_template" readonly>
        <div id="temp" style="width: 140%"></div>
      </div>
  </div>
  <div class="row"><hr/></div>
  <div class="row">
    <div class="col-xs-6">
      <h4>BS (Balance Sheet)
      </h4>
      <!-- IE < 10 does not like giving a tbody a height.  The workaround here applies the scrolling to a wrapped <div>. -->
      <!--[if lte IE 9]>
      <div class="old_ie_wrapper">
      <![endif]-->
      <table id="balance_table" class="fixed_headers">
        <thead>
          <tr><th></th>
          {% for rep_type in reports_type_bal %}
          <th style="text-align: center;">{{ rep_type.name }}</th>
          {% endfor %}
          <th style="text-align: center;">Reports</th>
          </tr>
        </thead>
        <tbody id="reports">
          {% for bal_sheet in bal_sheet_arr %}
          <tr id="tr_reports">
            <td>
              <div id="{{ bal_sheet.short_name }}"><a class="btn btn-default btn-sm {% for s_r_n in selected_rep_name %}{% if bal_sheet.short_name == s_r_n %}btn-info{% endif %}{% endfor %}" href="{% url 'accounts' project.id bal_sheet.id %}" title="{{ bal_sheet.full_name }}">{{ bal_sheet.short_name }}</a>
              {% if bal_sheet.short_name == 'PPE' or bal_sheet.short_name == 'Invent' %} ** {% endif %}</div>
            </td>
            {% for rep_type in reports_type_bal %}
            <td style="text-align: center;">
              <input data-type-name="{{ rep_type.name }}" data-type-id="{{ rep_type.id }}" data-name="{{ bal_sheet.short_name }}" data-type-check="check" type="checkbox" {% for ch_r_n in check_reports_name %}{% if bal_sheet.short_name == ch_r_n.0 %}{% for check in ch_r_n %}{% if check == rep_type.name %} checked="checked"{% endif %}{% endfor %}{% endif %}{% endfor %} disabled>
            </td>
            {% endfor %}
            <td id="td_{{ bal_sheet.short_name }}" style="text-align: center;">
            {% for rep_doc in reports_document %}
              {% if bal_sheet.short_name == rep_doc.0 %}
                {% if rep_doc.1 == 'Failed'%}
                  <div id="rep_{{ bal_sheet.short_name }}" tooltip="{{ rep_doc.2 }}"><span class='btn-sm btn-danger' >{{ rep_doc.1 }}</span></div>
                {% elif rep_doc.1 == 'Pending' or rep_doc.1 == 'Processing'%}
                  <div id="rep_{{ bal_sheet.short_name }}"><span class='btn alert-info btn-sm' >{{ rep_doc.1 }}</span></div>
                {% else %}
                  <div id="rep_{{ bal_sheet.short_name }}" class="">
                  <a class="btn-sm btn-success" href="{{ rep_doc.1 }}">{{ bal_sheet.short_name }}</a></div>
                {% endif %}
              {% endif %}
            {% endfor %}
                <div style="display: none;" class="processing_{{ bal_sheet.short_name }} alert-info btn-sm">
                  <img src="{% static 'projects/img/loader.gif' %}">
                </div>
            </td>
          </tr>
          {% endfor %} 
        </tbody>
      </table>
      <!--[if lte IE 9]>
      </div>
      <![endif]-->
    </div>
    <div class="col-xs-6">
     <h4>PL (Profit And Loss)
        <div style="font-size: 14px; display:unset;"> 
          <label for="ex_accounts">Exlude account: </label>
          <select id="ex_accounts" name="ex_accounts" multiple style="width: 150px">
            <!--<option selected value="no_ex_acc">Select account</option>-->
            {% for accounts in all_accounts %}
            <option value="{{ accounts.0 }}">{{ accounts.0 }}</option>
            {% endfor %}
          </select>
        </div>
       <!--#{% if ex_acc.0 == 'True'%}-->
       <!--{% endif %}-->
     </h4>
      <!-- IE < 10 does not like giving a tbody a height.  The workaround here applies the scrolling to a wrapped <div>. -->
      <!--[if lte IE 9]>
      <div class="old_ie_wrapper">
      <![endif]-->
      <table id="proffit_table" class="fixed_headers">
        <thead>
          <tr><th></th>
          {% for rep_type in reports_type_proff %}
          <th style="text-align: center;">{{ rep_type.name }}</th>
          {% endfor %}
          <th style="text-align: center;">Reports</th>
          </tr>
        </thead>
        <tbody id="reports2">
        {% for proff_loss in proffit_loss_arr %}
          <tr id="tr_reports">
            <td>
              <div id="{{ proff_loss.short_name }}"><a class="btn btn-default btn-sm {% for s_r_n in selected_rep_name %}{% if proff_loss.short_name == s_r_n %}btn-info{% endif %}{% endfor %}" href="{% url 'accounts' project.id proff_loss.id %}" title="{{ proff_loss.full_name }}" {% if proff_loss.short_name == 'CE' or proff_loss.short_name == 'GA' or proff_loss.short_name == 'Oth_exp' or proff_loss.short_name == 'LLR_exp' or proff_loss.short_name == 'SWAP_exp' or proff_loss.short_name == 'Int_exp' or proff_loss.short_name == 'CoS' %}style="font-style: italic; text-decoration: underline;"{% endif %}>{{ proff_loss.short_name }}</a></div>
            </td>
          {% for rep_type in reports_type_proff %}
            <td style="text-align: center;">
              <input data-type-name="{{ rep_type.name }}" data-type-id="{{ rep_type.id }}" data-name="{{ proff_loss.short_name }}" data-type-check="check" type="checkbox" {% for ch_r_n in check_reports_name %}{% if proff_loss.short_name == ch_r_n.0 %}{% for check in ch_r_n %}{% if check == rep_type.name %}checked="checked"{% endif %}{% endfor %}{% endif %}{% endfor %} disabled>
            </td>
          {% endfor %}
          <td id="td_{{ proff_loss.short_name }}" style="text-align: center; vertical-align: middle;">
          {% for rep_doc in reports_document %}
            {% if proff_loss.short_name == rep_doc.0 %}
              {% if rep_doc.1 == 'Failed'%}
                <div id="rep_{{ proff_loss.short_name }}" tooltip="{{ rep_doc.2 }}"><span class='btn-sm btn-danger'>{{ rep_doc.1 }}</span></div>
              {% elif rep_doc.1 == 'Pending' or rep_doc.1 == 'Processing'%}
                <div id="rep_{{ proff_loss.short_name }}"><span class='btn alert-info btn-sm'>{{ rep_doc.1 }}</span></div>
              {% else %}
                <div id="rep_{{ proff_loss.short_name }}">
                <a class="btn-sm btn-success" href="{{ rep_doc.1 }}">{{ proff_loss.short_name }}</a></div>
              {% endif %}
            {% endif %}
          {% endfor %}
              <div style="display: none;" class="processing_{{ proff_loss.short_name }} alert-info btn-sm">
                <img src="{% static 'projects/img/loader.gif' %}">
              </div>
          </td>
          </tr>
         {% endfor %} 
        </tbody>
      </table>
      <!--[if lte IE 9]>
      </div>
      <![endif]-->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3" style="margin-top: 10px;">
      <input id="button_start" type="submit" class="btn btn-primary btn-md" value="START">
    </div>
  </div>
</form>
{% block javascript %}
  <link rel="stylesheet" type="text/css" href="{% static '/projects/css/select-style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/projects/css/daterangepicker.css' %}" />
  <script type="text/javascript" src="{% static '/projects/js/jquery-ui-slider.js' %}"></script>
  <script type="text/javascript" src="{% static '/projects/js/jquery.multi-select.js' %}"></script>
  <script type="text/javascript" src="{% static '/projects/js/moment.min.js' %}"></script>
  <script type="text/javascript" src="{% static '/projects/js/daterangepicker.min.js' %}"></script>
  <script>
    $(document).ready(function(){
      $('#ex_accounts').multiSelect();
      tickets = "{{acc_temp}}".split("");
      min_range = 1;
      max_range = tickets.length;
      $("#daterange").change(function(event){
      });
      sortTable(document.getElementById("balance_table"));
      sortTable(document.getElementById("proffit_table"));
    });
    
    function sortTable(table_id) {
      var table, rows, i, x;
      table = table_id;
        rows = table.rows;
        for (i = 1; i < (rows.length); i++) {
          x = rows[i].getElementsByTagName("TD")[0];
          if (x.innerHTML.indexOf("btn-info")!=-1) {
            rows[1].parentNode.insertBefore(rows[i], rows[1]);
          }
        }
    }

    $('input[name="daterange"]').daterangepicker({
      opens: 'center',
      showDropdowns: true,
      locale: {
          cancelLabel: 'Clear',
          format: 'YYYY-MM-DD HH:mm:ss'
      }
    });

    $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD HH:mm:SS') + ' - ' + 
          picker.endDate.format('YYYY-MM-DD HH:mm:ss'));
    });

    $('input[name="daterange"]').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });

    $(function(){
      /*$(".multi-select-menuitems").each(function() {
        console.log($(this).html());
      });*/
      $("#temp").slider({
        range: true,
        min: min_range,
        max: max_range,
        values: [ min_range, max_range ],
        slide: function(event, ui) {
          if(ui.values[1] - ui.values[0] < 4) return false;
          else {
            $("#account_template").val(ui.values[0]+" - "+ui.values[1]);
          }
        }
      }).each(function() {
        var vals = max_range - min_range;
        for (var i = 0; i <= vals; i++) {
          var el = $('<label>'+(tickets[i])+'</label>').css('left',(i/vals*100)+'%');
          $("#temp").append(el);
        }
      });
      $("#account_template").val($("#temp").slider("values",0)+" - "+$("#temp").slider("values",1));
    });

    $("#daterange").click(function() {
      $("#daterange").change(function() {
        localStorage.setItem('dateRangeServer_'+'{{project.id}}', this.value);
      });
    });
    document.querySelector("#daterange").value = localStorage.getItem('dateRangeServer_'+'{{project.id}}');
    
    $("#materiality").click(function() {
      $("#materiality").change(function() {
        localStorage.setItem('materialityServer_'+'{{project.id}}', this.value);
      });
    });
    document.querySelector("#materiality").value = localStorage.getItem('materialityServer_'+'{{project.id}}');
    
    $("#account_template").click(function() {
      $("#account_template").change(function() {
        localStorage.setItem('account_templateServer_'+'{{project.id}}', this.value);
      });
    });
    document.querySelector("#account_template").value = localStorage.getItem('account_templateServer_'+'{{project.id}}');
    
    $("#ex_accounts").click(function() {
      $("#ex_accounts").change(function() {
        localStorage.setItem('ex_accountsServer_'+'{{project.id}}', this.value);
        console.log(localStorage.getItem('ex_accountsServer_'+'{{project.id}}'));
      });
    });
    document.querySelector("#ex_accounts").value = localStorage.getItem('ex_accountsServer_'+'{{project.id}}');
      
  </script>
{% endblock %}