{% load staticfiles %}
{% load bootstrap3 %}
<div class="row">
  <div class="col-xs-6">
    <table class="table">
    <thead>
      <tr><th><h4>Transactions</h4></th><th></th><th></th></tr>
      <tr>
        <th>File</th>
        {% if reports_transaction %}
        {% for transaction in reports_transaction %}
        <th id="trans_status">{% if transaction.1 == 'Pending' or transaction.1 == 'Failed' %}Status{% else %}Download{% endif %}</th>
        {% endfor %}
        {% else %}
        <th>Status</th>
        {% endif %}
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="body_transactions">
    {% if reports_transaction %}
    {% for transaction in reports_transaction %}
      <tr id="doc_{{ transaction.0 }}">
          <td>
            <div class="btn btn-default btn-sm">
            <b>Transactions</b></div>
          </td>
          <td>
            <div id="down_{{ transaction.0 }}">
            {% if transaction.1 == 'Pending' or transaction.1 == 'Failed' or transaction.1 == 'Processing' %}
            <div class="btn alert-{% if transaction.1 == 'Failed' %}danger{% elif transaction.1 == 'Pending' or transaction.1 == 'Processing' %}info{% endif %} btn-sm" {%if transaction.2 %}tooltip="{{ transaction.2 }}"{% endif %}>{{transaction.1}}</div>{% else %}
            <a class="btn btn-success" href="{{transaction.1}}">{{transaction.0}}</a>{% endif %}
            </div>
            <input id="id_for_del_trans" type="hidden" value="{{transaction.1}}">
          </td>
          <td>
            <form class="delete_{{ transaction.0 }}" table-name="{{ transaction.0 }}" method="POST">{% csrf_token %}
              <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
            </form>
          </td>
      </tr>
    {% endfor %}
    {% else %}
      <tr id="no_doc_transactions" class="alert alert-info btn-sm">
        <td>No documents.</td>
        <td>
        </td><td></td>
      </tr>
    {% endif %}
    </tbody>
    </table>
  </div>
</div>
<form id="start_reports_tr" class="form" method="POST">{% csrf_token %}
  <div class="row">
    <div class="col-xs-1" style="margin-top: 10px;">
      <input id="button_start_tr" type="submit" class="btn btn-primary btn-md" value="START">
    </div>
  </div>
</form>