{% load staticfiles %}
{% load bootstrap3 %}
<table class="table" style="width: 40%">
  <thead>
    <tr><th><h4>Accounts</h4></th><th></th><th></th></tr>
    <tr style="">
      <th>File</th>
      <th style="text-align: center;">Status</th> 
      <th style="text-align: right;">Action</th>
    </tr>
  </thead>
  <tbody id="chart_of_accounts">
  {% if documents_acc %}
  {% for document in documents_acc %}
    <tr id="doc_{{ document.id }}">
      <td style="vertical-align: middle;">
        <div class="btn btn-default btn-sm">
        <b>Accounts</b></div>
      </td>            
      <td style="vertical-align: middle;">
        <div id="st_chart_of_accounts_{{ document.id }}" class="btn alert-{% if document.status == 'failed' %}danger{% elif document.status == 'success'  %}success{% else %}info{% endif %} btn-sm" {% if document.err_message != None %}tooltip="{{ document.err_message }}"{% endif %} style="white-space: inherit;">{{ document.status }}</div>
      </td>
      <td>
        <form id="{{ document.id }}" class="delete_file_form" table-name="chart_of_accounts" method="POST">{% csrf_token %}
          <input type="submit" value="Delete" class="btn btn-danger btn-sm" style="float: right;" />
        </form>
      </td>
    </tr>
  {% endfor %}
  {% else %}
      <tr id="no_doc_chart_of_accounts" class="alert alert-info btn-sm">
        <td>No documents.</td><td></td><td></td>
      </tr>
  {% endif %}
  </tbody>
  <thead>
    <tr><th><h4>Balance</h4></th><th></th><th></th></tr>
  </thead>
  <tbody id="balance">
  {% if documents_bal %}
  {% for document in documents_bal %}
    <tr id="doc_{{ document.id }}">
      <td style="vertical-align: middle;">
        <div class="btn btn-default btn-sm"><b>Balance</b></div>
      </td>
      <td style="vertical-align: middle;">
        <div id="st_balance_{{ document.id }}" class="btn alert-{% if document.status == 'failed' %}danger{% elif document.status == 'success'  %}success{% else %}info{% endif %} btn-sm" {% if document.err_message != None %}tooltip="{{ document.err_message }}"{% endif %} style="white-space: inherit;">{{ document.status }}</div>
      </td>
      <td>
        <form id="{{ document.id }}" class="delete_file_form" table-name="balance" method="POST">{% csrf_token %}
          <input type="submit" value="Delete" class="btn btn-danger btn-sm" style="float: right;" />
        </form>
      </td>
    </tr>
  {% endfor %}
  {% else %}
      <tr id="no_doc_balance" class="alert alert-info btn-sm">
        <td>No documents.</td><td></td><td></td>
      </tr>
  {% endif %}
  </tbody>
  <thead>
    <tr><th><h4>Turnovers</h4></th><th></th><th></th></tr>
  </thead>
  <tbody id="turnovers">
  {% if documents_turn %}
  {% for document in documents_turn %}
    <tr id="doc_{{ document.id }}">
      <td style="vertical-align: middle;">
        <div class="btn btn-default btn-sm"><b>Turnovers</b></div>
      </td>
      <td style="vertical-align: middle;">
        <div id="st_turnovers_{{ document.id }}" class="btn alert-{% if document.status == 'failed' %}danger{% elif document.status == 'success'  %}success{% else %}info{% endif %} btn-sm" {% if document.err_message != None %}tooltip="{{ document.err_message }}"{% endif %} style="white-space: inherit;">{{ document.status }}</div>
      </td>
      <td>
        <form id="{{ document.id }}" class="delete_file_form" table-name="turnovers" method="POST">{% csrf_token %}
          <input type="submit" value="Delete" class="btn btn-danger btn-sm" style="float: right;" />
        </form>
      </td>
    </tr>
  {% endfor %}
  {% else %}
      <tr id="no_doc_turnovers" class="alert alert-info btn-sm">
        <td>No documents.</td><td></td><td></td>
      </tr>
  {% endif %}
  </tbody>
  <tr>
    <form id="upload_file" class="form" method="POST" enctype="multipart/form-data">
    <td>
      {% bootstrap_form form %}{% csrf_token %}
    </td>
    <td style="text-align: center; vertical-align: middle;">
          <span style="display: none;" class="processing alert-info btn-sm">
            <img src="{% static 'projects/img/loader.gif' %}">
          </span>
    </td>
    <td>
      {% buttons %}<p>
          <button id="buttonSubmit" type="submit" class="btn btn-primary" style="float:right">{% bootstrap_icon "upload" %}&nbsp;&nbsp; Upload</button></p>
      {% endbuttons %}
    </td>
    </form>
  </tr>
</table>