{% extends "projects/base.html" %}
{% load staticfiles %}
{% block title %}Log in{% endblock title %}
{% block login_auth %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-login">
			<div class="panel-heading">
			<h2>Log in</h2>
				<hr>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<form id="login-form" action="/auth/login/" method="post" role="form" style="display: block;">{% csrf_token %}
							<div class="form-group">
								<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
							</div>
							<div class="form-group">
								<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-8 col-sm-offset-5">
										<input type="submit" name="login-submit" id="login-form-link" tabindex="4" class="btn btn-primary btn-lrg" value="Submit">
									</div>
								</div>
							</div>
							{% if login_error %}
							<div class="error" style="color: red"><label>{{ login_error }}</label></div>
							{% endif %}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock login_auth %}
{% block javascript %}
{% endblock %}