{% extends "projects/base.html" %}

{% block title %}

About

{% endblock title %}

{% block content %}
<div class="container">
	<h1>Article About</h1>
	<p>This is article About About</p>
</div>

{% endblock content %}
