{% extends "projects/base.html" %}
{% load staticfiles %}
{% block title %}{{ reports_name.short_name }}{% endblock title %}
{% block content %}
    {% if username %}
	<div class="container">
    <br><input type="button" class="btn btn-secondary" value="Back" onclick="relocate_home()">
        <h1>Select accounts for "{{ reports_name.full_name }}"</h1>
          <table id="data_table" class="hover row-border">
            <thead>
              <tr><th></th><th>Accounts</th><th>Description</th><!--<th>Grouping</th>--></tr>
            </thead>
            <tbody class="all-accounts">
            {% for accounts in all_accounts %}
              <tr data-value="{{ accounts.0 }}" class=" {% for select in selected_accs %} 
              {% if accounts.0|cut:' ' == select|cut:' ' %} selected {% endif %} {% endfor %}">
                <td><div class="green_ok {% for select in selected_accs %} 
                {% if accounts.0|cut:' ' == select|cut:' ' %} glyphicon glyphicon-ok {% endif %} {% endfor %}">
               	</div></td>
                <td class="1">
                	{{ accounts.0 }}
                </td>
                <td class="0">
                    {{ accounts.1 }}
                </td>
                <!--<td class="Grouping">
                    {{ accounts.grouping }}
                </td>-->
              </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
    {% endif %}
{% endblock content %}
{% block javascript %}
<script src="{% static 'projects/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'projects/js/add_account.js' %}"></script>
<link href="{% static 'projects/css/jquery.dataTables.min.css' %}" rel="stylesheet" />
<script type="text/javascript">
    var rep_name = "{{ reports_name.short_name }}";	
    var proj_id = "{{ id }}";
    $('#data_table').DataTable({
        stateSave: true,
        "searching": false,
        "scrollY": "500px",
        "scrollCollapse": false,
        "paging": false,
        "order": [[ 0, "desc" ]]
    });
    function relocate_home() { location.href = "/projects/{{ id }}#audit_reports"; } 
</script>
{% endblock%}