{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'projects/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'projects/css/custom.css' %}" rel="stylesheet" />
    <link href="{% static 'projects/css/bootstrap-theme.min.css' %}" rel="stylesheet" />
    <link href="{% static 'projects/css/jquery-ui.css' %}" rel="stylesheet" />
    <script src="{% static 'projects/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'projects/js/bootstrap.min.js' %}"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>{% block title %}{% endblock title %}</title>
    <style type="text/css">
      h1 {
        text-align: left;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'home' %}" class="navbar-brand">Home</a></li>
            <li class="{% if request.path == '/about/' %}active{% endif %}"><a href="{% url 'about' %}">About</a></li>
            <!--<li><a href="#">Contact</a></li>-->
          {% if username.username %}
            {% if username.is_staff %}
              <li><a href="{% url 'admin' %}">Hi, {{ username.username }}</a></li>
            {% endif %}
            <li><a href="/auth/logout/">Log out</a></li>
          {% else %}
            <li class="{% if request.path == '/auth/login/' %}active{% endif %}"><a href="/auth/login/">Log in</a></li>
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      {% block login_auth %}
      {% block content %}
      {% endblock content %}
      {% endblock login_auth %}
    </div><!-- /.container -->
    <!-- Placed at the end of the document so the pages load faster -->
<footer>
    {% block javascript %}
    {% endblock %}
</footer>
</body>
</html>