{% extends "projects/base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock title %}

{% block content %}
{% if username.username %}
<div class="container">
	<h1>Projects</h1>
	<div id="talk" class="list-group" style="width: 21%">
		{% for project in projects %}
		  <a href="{% url 'projects' project.id %}" class="list-group-item list-group-item-action">
			{{ project.title }}
		  </a>
		{% endfor %}
	</div>
	<div class = "form">
		<form id="add_project_form" method="post">{% csrf_token %}
			{{ form_add_project.as_p }}
			<input type="submit" class="btn btn-primary btn-sm" value="Add Project"/>
		</form>
	</div>
	<div id="#results"></div>
</div>
{% endif %}
{% endblock content %}
{% block javascript %}
	<script src="{% static 'projects/js/add_project.js' %}"></script>
{% endblock %}