{% extends "projects/base.html" %}
{% load staticfiles %}
{% block title %}{{ project.title }}{% endblock title %}
{% block content %}
    {% if username %}
    {% load bootstrap3 %}    
    <div class="container">
        <h1>{{ project.title }}</h1>
        <div class="tab">
          <a href="#upload_files" id="up_files" class="tablinks" onclick="openTab(event, 'upload_files')">Upload files</a>
          <a href="#audit_reports" id="au_rep" class="tablinks" onclick="openTab(event, 'audit_reports')">Audit reports</a>
          <a href="#transaction" id="transac" class="tablinks" onclick="openTab(event, 'transaction')">Transaction</a>
        </div>
        <div id="upload_files" class="tabcontent">
            {% include "projects/include/upload_files.html" %}
        </div>

        <div id="audit_reports" class="tabcontent">
            {% include "projects/include/audit_reports.html" %}
        </div>

        <div id="transaction" class="tabcontent">
            {% include "projects/include/transaction.html" %}
        </div>
        <div id="#results"></div>
        <p>
            <form action="/delete_project/{{ project.id }}" method="post">{% csrf_token %}
                <input type="submit" value="Delete Project" class="btn btn-danger"/>
            </form>
        </p>
    </div>
    {% endif %}
{% endblock content %}
{% block javascript %}
    <script src="{% static 'projects/js/add_files.js' %}"></script>
    <script type="text/javascript">
        csrftoken = "{% csrf_token %}"
        $(document).ready(function(){
            if(document.URL.indexOf('upload_files') != -1) {
                document.getElementById('up_files').classList.add('active');
                document.getElementById('upload_files').style.display = "block";
            } else if(document.URL.indexOf('audit_reports') != -1) {
                document.getElementById('au_rep').classList.add('active');
                document.getElementById('audit_reports').style.display = "block";
            } else if(document.URL.indexOf('transaction') != -1) {
                document.getElementById('transac').classList.add('active');
                document.getElementById('transaction').style.display = "block";
            } else {
                document.getElementById('up_files').classList.add('active');
                document.getElementById('upload_files').style.display = "block";
            }
        });
        function openTab(evt, name) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(name).style.display = "block";
            evt.currentTarget.className += " active";
        };
    </script>
{% endblock %}